# OS / editor
.DS_Store
.Rhistory
.vscode/

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# jupyter
.ipynb_checkpoints/
*.code-workspace

# environments
.env
venv/

# pmtiles
*.pmtiles

# big lad geojson
Lower_layer_Super_Output_Areas_December_2021_Boundaries_EW_BGC_V5_-3761339731474027792.geojson
